html{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input:-moz-placeholder {
    color: #666666 !important;
}

::-moz-placeholder {
    color: #666666 !important;
}

:-ms-input-placeholder {
    color: #666666 !important;
}

::-webkit-input-placeholder {
    color: #666666 !important;
}